@page "/army"
@inject IUnitService UnitService
@attribute [Authorize]

<h3>My Army</h3>
@if (UnitService.Units.Count > 0)
{
    <table class="table">
        @foreach (var userUnit in UnitService.MyUnits)
        {
            <tr>
                <td>
                    @switch (userUnit.UnitID)
                    {
                        case 1:<img src="/Icons/Knight.png" /> break;
                        case 2:<img src="/Icons/Archer.png" /> break;
                        case 3:<img src="/Icons/Mage.png" />break;
                    }
                </td>
                <td>
                    @UnitService.Units.First(unit => unit.Id == userUnit.UnitID).Title
                </td>
                <td>
                    @userUnit.HitPoints HP
                </td>
            </tr>
        }
    </table>
    <center>
        <button class="btn btn-success" @onclick="ReviveArmy">
            Revive your army (1000 <img style="max-height: 1.2em" src="Icons/banana.png" />)
        </button>
        @*<RadzenButton Text="@text"></RadzenButton>*@
    </center>

    @*<RadzenButton Text="Reset" Click="@Reset" Style="margin-bottom: 20px;" />*@
<!--<p>@UnitService.MyUnits[0].Unit</p>
    <RadzenDataGrid 
        Data="UnitService.MyUnits" 
        TItem="UserUnit" 
        AllowFiltering="true" 
        AllowColumnResize="true" 
        AllowSorting="true"
    >
        <Columns>
            <RadzenDataGridColumn TItem="UserUnit" Title="Photo" Sortable="false" Filterable="false" Width="200px">
                <Template Context="data">
                    <RadzenImage Path="data.Unit.ImageUrl" style="width: 40px; height: 40px; border-radius: 8px;" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="UserUnit" Property="Unit.ImageUrl" Title="Employee">
                <Template Context="userUnit">
                    <RadzenImage Path="@userUnit.Unit?.ImageUrl" style="width: 40px; height: 40px; border-radius: 8px;" />
                @userUnit.Unit.ImageUrl
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="UserUnit" Property="UserID" Title="Test" Sortable="true" />
            <RadzenDataGridColumn TItem="UserUnit" Property="Unit" Title="Two" />
        </Columns>
    </RadzenDataGrid>-->

}
else
{
    <span>Loading Units...</span>
}
@code {



    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
        await UnitService.LoadUserUnitsAsync();
    }

    private async Task ReviveArmy()
    {
        await UnitService.ReviveArmy();
    }


}